/* Estilos base del Label para un tema Modern-Dark */
QLabel {
    color: #EAEAEA; /* Color de texto claro por defecto */
    background-color: transparent;
    font-size: 14px; 
    font-weight: 400;
    margin: 5px;
    border-radius: 3px 5px 5px 3px; 
}

/* Estilo para un Label tipo Info */
QLabel[class~="info"] {
    background-color: #1F2C33; 
    border-left: 3px solid #00C1D4; 
    color: #00C1D4; 
    padding: 5px 5px 5px 10px;
}

/* Estilo para un Label tipo Success */
QLabel[class~="success"] {
    background-color: #1B322A; 
    border-left: 3px solid #17D497;
    color: #17D497;
    padding: 5px 5px 5px 10px;
}

/* Estilo para un Label tipo Warning */
QLabel[class~="warning"] {
    background-color: #332A1F;
    border-left: 3px solid #FF8C00;
    color: #FF8C00;
    padding: 5px 5px 5px 10px;
}

/* Estilo para un Label tipo Danger */
QLabel[class~="danger"] {
    background-color: #332125;
    border-left: 3px solid #F93154;
    color: #F93154;
    padding: 5px 5px 5px 10px;
}