/* Info Alert */

#LabelIcon {
    padding: 0px;
    background: none;
}

*[type="close-btn"] {
    background: none;
    border: none;
    margin-right: 5px;

}
*[type="close-btn"]:hover {
    background: none;
}


*[type="frame-container"] {
    border-radius: 10px;
}

*[type="title-label"] {
    font-family: "Segoe UI", "Helvetica Neue", sans-serif; /* Fuente limpia y moderna */
    font-size: 14px; /* Tamaño de fuente estándar */
    font-weight: 400; /* Peso de fuente medio */
    border-radius: 0px;
    margin: 0px;
}

*[type="description-label"] {
    color: #000;
    background-color: #fff;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif; /* Fuente limpia y moderna */
    font-size: 14px; /* Tamaño de fuente estándar */
    font-weight: 400; /* Peso de fuente medio */
    margin: 0px;
    border-radius: 0px; 
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
}

QFrame#FluvelInfoAlert {
    background-color: #2196f3;
    /* background-color: #e8f4fd; */
    /* border-left: 5px solid #2196f3; */
}

QLabel#FluvelInfoAlertTitle {
    color: #fff;
    background-color: none;
}

QLabel#FluvelInfoAlertDescription {
    /* color: #2196f3; */
    /* background-color: #e8f4fd;  */
}

/* Danger Alert */
QFrame#FluvelDangerAlert {
    background-color: #f44336;
}

QLabel#FluvelDangerAlertTitle {
    color: #ffffff;
    background-color: #f44336;
}

QLabel#FluvelDangerAlertDescription {
    /* color: #f44336; */
    /* background-color: #fdecea; */
}

/* Warning Alert */
QFrame#FluvelWarningAlert {
    background-color: #ff9800;
}

QLabel#FluvelWarningAlertTitle {
    color: #fff;
    background-color: #ff9800;
}
QLabel#FluvelWarningAlertDescription {
    /* color: #ff9800; */
    /* background-color: #fff4e5; */

}

/* SuccessAlert */
QFrame#FluvelSuccessAlert {
    background-color: #4caf50;
}

QLabel#FluvelSuccessAlertTitle {
    color: #fff;
    background-color: #4caf50;
}

QLabel#FluvelSuccessAlertDescription {
    /* color: #4caf50; */
    /* background-color: #e6f4ea; */

}